web_service/soap/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    name="ProductService"
    targetNamespace="http://localhost/web_service/soap/service"
    xmlns:tns="http://localhost/web_service/soap/service"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    
    <types>
        <xsd:schema targetNamespace="http://localhost/web_service/soap/service">

            <xsd:complexType name="Product">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int"/>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="desc" type="xsd:string"/>
                    <xsd:element name="created_date" type="xsd:datetime"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ArrayOfProduct">
                <xsd:sequence>
                    <xsd:element name="Product" type="tns:Product" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </types>

    
    <message name="helloRequest">
        <part name="name" type="xsd:string"/>
    </message>

    <message name="helloResponse">
        <part name="return" type="xsd:string"/>
    </message>

    <message name="sumRequest">
        <part name="a" type="xsd:int"/>
        <part name="b" type="xsd:int"/>
    </message>

    <message name="sumResponse">
        <part name="return" type="xsd:int"/>
    </message>

    <message name="getProductsRequest" />

    <message name="getProductsResponse">
        <part name="products" type="tns:ArrayOfProduct"/>
    </message>

    
    <portType name="ProductPortType">

        <operation name="hello">
            <input message="tns:helloRequest"/>
            <output message="tns:helloResponse"/>
        </operation>

        <operation name="sum">
            <input message="tns:sumRequest"/>
            <output message="tns:sumResponse"/>
        </operation>

        <operation name="getProducts">
            <input message="tns:getProductsRequest"/>
            <output message="tns:getProductsResponse"/>
        </operation>

    </portType>

    
    <binding name="ProductBinding" type="tns:ProductPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="hello">
            <soap:operation soapAction="http://localhost/web_service/soap/service#hello"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>

        <operation name="sum">
            <soap:operation soapAction="http://localhost/web_service/soap/service#sum"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>

        <operation name="getProducts">
            <soap:operation soapAction="http://localhost/web_service/soap/service#getProducts"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>

    </binding>

    <!-- ========================= -->
    <!--         SERVICE           -->
    <!-- ========================= -->
    <service name="ProductService">
        <port name="ProductPort" binding="tns:ProductBinding">
            <soap:address location="http://localhost/web_service/soap/server.php"/>
        </port>
    </service>

</definitions>
